.main-nav > ul{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
nav{
  display: block;

}
.main-nav{
  width: 100%;
}
p {
    border: 10px double black;
    padding: 50px;
    margin: 75px 100px 100px 350px;
    background-color: yellow;
}


ul, li{
  list-style-type: none;
}
  #logo > img {
   display: flex;
   justify-content: center;
 }

 .page-content{
    font-family: 'Lobster Two', cursive;
}



h1 {
    color:black;
    font-family: 'Dancing Script', cursive;
    width: 100%;

}

.menu{
    display: flex;
    flex-direction: row-reverse;
}
a, .main-nav{
    color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Dancing Script', cursive;
}
h2{
    color: black;
    font-family: 'Dancing Script', cursive;

}


body {
    padding: 2em;
    align-content: center;
    font-size: xx-large;
    color: black;
    background-color: white;

}

form {
    border: 6px dotted black;
}


.main-nav {
    display: flex;
}
.push{
    margin-left: auto;
}

.title{
    text-align: center;
}




#menuToggle > ul
{
  font-family: 'Dancing Script', cursive;
  width: 200px;
  height: 100px;
  margin-top: 80px;
  margin-left: 10px;
  margin-bottom: 200px;
  padding-bottom: 50px;
  position: absolute;

}

#menuToggle > li
{
  color: black;
  transition: color 0.4s ease;
}

#menuToggle a:hover
{
  color: yellow;
}
.main-nav a:hover {
  color: yellow;

}


#menuToggle input
{
  cursor:pointer;
  opacity: 0;
}

.dropdown {
  display: block;
  position: absolute;
}

.dropdown-content{
  min-width: max-content;
  overflow: hidden;
  transition: max-height 5s;
}

.dropdown:hover .dropdown-menu{
  display:block;
}

.dropdown-menu:hover
{
  display:block;
}


.dropdown-menu {
  display:none;

}
.dropdown-content > ul {
list-style-type: none;
padding: 0px 20px
}


footer {
  padding: 1px;
  background-color:black;
}




