
#logo > img {
  display: flex;
  justify-content: center;
  float: left;
  width: 25%;
  height: auto;
  margin-right: 1rem;
}



nav {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  border-bottom: 2px double black;


}

.main-nav{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

#pageName {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

header {
  display:flex;
  flex-direction: column;
  align-items: center;

}

.page-content{
  border: 10px double black;
  padding: 20px;
  margin: 75px 100px 100px 200px;
  background-color: rgba(255, 255, 0, 0.685);
  /* font-family: 'Lobster', cursive; */
}
.content{
  border: 10px double black;
  padding: 50px;
  margin: 75px 100px 100px 100px;
  background-color: white;
  font-family: 'Lobster', cursive;
  color: black;
}
ul, li{
  list-style-type: none;
}

nav, header, footer{
  font-family: 'Dancing Script', cursive;
  color:black;
  font-size: xx-large;
}
body {
  padding: 2em;
  align-content: center;
  font-size: larger;
  color: black;
  background-color: white;

}


.main-nav a:hover {
  color: yellow;

}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }
}

nav{
display: flex;
align-items: center;
flex-direction: column;
}

nav > i {
padding: 1rem;
font-size: 2em;
}

nav > ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0;
}

nav > ul > li {
  padding: 0.5rem;
  list-style-type: none;
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }
}


nav > ul > li {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
}
nav > .fa-bars {
  display: none;
}
form {
  border: solid 1px black;
  display:flex;
  flex-direction: row;
  margin: 1rem 1rem;
  width: 30%;
  height: 50%;
}

form > input[type="submit"] {
  width: 30%;
  margin: 0.5rem;
  margin-right: auto;
}

.dropdown-content:hover .hidden-mobile{
  display:flex;
}
.hidden-mobile:hover
{
  display:flex;
}


footer {
  padding: 50px;

}

