
  #logo:hover {
    transform:rotate(180deg);
    transition:5s ease-in-out;

    }
    nav a {
      color:black;
      transition: color 1s ease;
    }

    nav a:hover {
      color: yellow;

    }
    *{
      user-select: none;
    }

    .next-button{
      position: static;
      background-color: black;
      color: white ;
      border: none;
      border-radius: 10px;
      box-shadow: 0px 0px 2px 2px rgb(104, 31, 31);
      padding:10px;
      margin-left: 200px;
      width: 30%;
       }

nav {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  border-bottom: 2px double black;


}

#pageName {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

header {
  display:flex;
  flex-direction: column;
  align-items: center;

}

.page-content{
  display: flex;
  flex-direction: column;
  border: 10px double black;
  padding: 20px;
  margin: 15px 200px;
  background-color: rgba(255, 255, 0, 0.685);
  /* font-family: 'Lobster', cursive; */
}
.page-content .content{
  display: flex;
  flex-direction: column;
  border: 10px double black;
  padding: 30px;
  margin: 15px 50px;
  background-color: white;
  font-family: 'Lobster', cursive;
  color: black;
}
ul, li{
  list-style-type: none;
}

nav, header, footer{
  font-family: 'Dancing Script', cursive;
  color:black;
  font-size: xx-large;
}
body {
  padding: 2em;
  align-content: center;
  font-size: larger;
  color: black;
  background-color: white;

}

 #scriptures, #funnies, #affirmations {
  margin: 5px 100px;
  padding: 30px;

}


@media (max-width: 700px){
  .hidden--mobile {
    display: none !important;
  }
  header {
    width: 50%;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
  label{
    width: 100%;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    position: sticky;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .content {
    float: left;
    width: 80%;
    overflow-wrap: normal;
  }
  #scriptures {
    float: left;
    width:  100%;
    overflow-wrap: normal;
    text-size-adjust: 25%;

  }
  .next-button{
    position: absolute;
    float: left;
    width: 25%;
    margin-left: 50px;
  }

  #msg {
    width: 80%;
  }
  footer {
    position: relative;
    width: 100%;
    height: 50%
  }

  img {
    float: left;
    width: 40%;
    height: auto;
    margin-right: 1rem;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;

  }

  nav > .fa-bars {
    display: none;
  }


  img {
     width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}

#moodTracker {
  position: static;
  margin: 30px 200px 100px 270px;
  color: black;

}



footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-top: 2px solid black;
  font-size:medium;
  padding: 20px 200px;
  margin: 5px 50px 100px 100px ;
  position: static;
}


