p {
    border: 5px solid black; 
    padding: 150px;
    margin: 150px;  
    background-color: yellow;
    
}

.welmessage {
    font-family: 'Lobster Two', cursive;
}
header{

    width: 100%
}


h1 {
    color:black; 
    font-family: 'Dancing Script', cursive;
    width: 100%;
    
}
* {
    background-image: url("C:\Users\Christina Spurling\Downloads\IMG_0276.HEIC");
    background-attachment: fixed;
    background-size: contain;

}
.menu{
    display: flex;
    flex-direction: row-reverse;
}
a, .main-nav{
    color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Dancing Script', cursive;
}
h2{
    color: black;
    font-family: 'Dancing Script', cursive;

}
 a{
    color: blue;
 }

body {
    padding: 2em;
    align-content: center;
    font-size: xx-large;
    color: black;
    background-color: white;
    
}

form {
    border: 6px dotted black;
}


.main-nav {
    display: flex;
}
.push{
    margin-left: auto;
}

.title{
    text-align: center;
}
footer {
    padding: 1px;
    background-color:black;
  }

#menuToggle
{
  display: block;
  position:sticky;
  top: 120px;
  left: 50px;
  
  z-index: 3;
  
  -webkit-user-select:auto;
  user-select: auto;
}

#menuToggle a
{
  color: black;
  transition: color 0.4s ease;
}

#menuToggle a:hover
{
  color: yellow;
}


#menuToggle input
{
  display:flex;
  width: 50px;
  height: 20px;
  position: absolute;
  top: -9px;
  left: -7px;
  
  cursor:pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;

  @media (min-width: 550px) {
    nav > .fa-bars {
      display: auto;
      
    }
  }

/* in HTML: <ul class="hidden--mobile"> */
@media (max-width: 550px) {
    .hidden--mobile {
      display: none;
    }
  }


  